  $main-txt-color: #757575;
  $header-color: #212121;
  $accent-color: #2196f3;
  $txt-color: #ffffff;
  $add-color: rgba(255, 255, 255, 0.6);
   
  $main-bg-color: #ffffff;
  $section-bg-color: #2f303a;
  $add-bg-color: #f5f4fa;

  $animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 